<h3>Details for <%= @balance.expense.name %> from <%= @period.start_date %> to <%= @period.end_date %></h3>
<table>
	<tr class="table_header">
		<th>Entered By</th>
		<th>Description</th>
		<th>Purchase Date</th>
		<th>Amount</th>
	</tr>
<% for purchase in @purchases %>
	<tr id="purchase_<%= purchase.id %>">
		<td><%= purchase.entered_by %></td>
		<td><%= purchase.description %></td>
		<td><%= purchase.purchase_date %></td>
		<td><%= dollar_value(purchase.amount) %></td>
		<td><%= link_to "delete", "/delete_purchase/#{purchase.id}", :data => {:confirm => "Are you sure?", :method => 'delete' } %></td>
	</tr>
<% end %>
</table>
