<h1>Editing expense</h1>

<%= form_tag :action => 'update', :id => @expense %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @expense %> |
<%= link_to 'Back', :action => 'index' %>
